@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,100;125,200;125,300;125,400;125,500;125,600;125,700;125,800;125,900&display=swap');

body {
    --display: 'Archivo', sans-serif;
    --serif: 'Archivo', sans-serif;
    --sans: 'Archivo', sans-serif;
  }
