@import "./font-faces.css";
@import "./custom-scroll-bars.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: initial;
  background-color: #000;
}

html, body {
  min-height: 100%;
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}